<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Weather App</title>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <!-- Material Outlined Symbols -->
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
    <!-- Stylesheets -->
    <link rel="stylesheet" href="/public/css/styles.css" />
    <link rel="stylesheet" href="/public/css/home-page.css" />
</head>
<body>

    <header class="container-fluid p-5">

        <div class="hero container-fluid sunny-weather p-3 rounded-2">

            <div class="row col-12 h-100 align-items-start">

                <!-- first slot -->
                <div class="container-fluid col-lg-8 col-md-6 col-sm-12 h-100">

                    <div class="card col-12 h-100 border-0 bg-transparent">

                        <div class="card-header col-12 border-0 bg-transparent">

                            <div class="container-fluid justify-content-start gap-3">

                                <h1 class="m-0 p-0 fw-bold text-white">Weather Report</h1>

                                <!-- toggle button -->
                                <div class="gap-`">

                                    <span class="material-symbols-outlined fs-1 text-white">toggle_off</span>
                                    <span class="text-white text-uppercase">off</span>
                                </div>
                            </div>
                        </div>
                        <div class="card-body col-12">

                            <div class="row col-lg-6 col-md-6 col-sm-12 me-auto mt-auto">

                                <!-- current temperature -->
                                <div class="container col-lg-4 col-md-4 col-sm-4 justify-content-start flex-column">
                                    <label class="text-white col-12 text-start">Current</label>
                                    <h5 class="text-white fs-1 col-12 text-start">83 F</h5>
                                </div>
                                <!-- high temperature -->
                                <div class="container col-lg-4 col-md-4 col-sm-4 justify-content-start flex-column">
                                    <label class="text-white col-12 text-start">High</label>
                                    <h5 class="text-white fs-1 col-12 text-start">85 F</h5>
                                </div>
                                <!-- low temperature -->
                                <div class="container col-lg-4 col-md-4 col-sm-4 justify-content-start flex-column">
                                    <label class="text-white col-12 text-start">Low</label>
                                    <h5 class="text-white fs-1 col-12 text-start">61 F</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- second slot -->
                <div class="container-fluid col-lg-4 col-md-6 col-sm-12 h-100">

                    <div class="card col-12 h-100 border-0 bg-transparent">

                        <div class="card-body flex-column text-white">
                            <p class="card-title">Sunny</p>
                            <p class="card-text">Atlanta, GA</p>
                            <span class="material-symbols-outlined" style="font-size: 125px;">sunny</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- separator -->
    <!-- <hr class="col-12" /> -->

    <main class="container-fluid">

        
        <section class="container-fluid p-5">

            <!-- look up a city weather for today -->

            <div class="row col-12 align-items-start justify-content-start">

                <!-- where you make a requrest -->
                <div class="container-fluid col-lg-3 col-md-4 col-sm-12 m-0 mb-3">

                    <div class="card col-12">

                        <div class="card-header col-12 bg-twitter">

                            <div class="container-fluid col-12 justify-content-between">

                                <h5 class="m-0 p-0 text-white">Make A Request</h5>
                                <!--
                                    a location icon of some sort
                                -->
                                <span class="material-symbols-outlined text-white">location_searching</span>
                            </div>
                        </div>
                        <div class="card-body col-12">

                            <div class="container-fluid">

                                <form 
                                action="/weather" 
                                method="GET" 
                                class="col-12" 
                                id="locationForm"
                                enctype="application/x-www-form-urlencoded"
                                >
                                    <div class="mb-3 flex-column">
                                        <label for="location" class="form-label col-12">Enter Location</label>
                                        <input type="text" class="form-control" id="location" name="location" placeholder="Enter location" required />
                                    </div>
                                    <button type="submit" class="btn btn-primary">Get Weather</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- add a list of cities to be permanent options -->
                <div class="container-fluid col-lg-4 col-md-4 col-sm-12 m-0 mb-3">

                    <div class="card col-12">

                        <div class="card-header col-12 bg-twitter">
                            <h5 class="m-0 p-0 text-white col-12">Add Cities</h5>
                        </div>

                        <div class="card-body col-12">
                            
                            <form>
                                <div class="flex-column container-fluid">


                                </div>
                                <div class="container-fluid col-12">
                                    <button type="submit" class="btn btn-primary">Add City</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <!-- a table of 3 cities, which one is atlanta, ga and the rest are random -->
                <div class="container-fluid col-12 col-md-12 col-sm-12 m-0 mb-3">

                    <div class="col-12 border rounded-2 flex-column">

                        <!-- acts as the header -->
                        <div class="container-fluid flex-column col-12 p-0 text-white">

                            <div class="container-fluid justify-content-between bg-twitter col-12" style="height: 45px;">
                                <span class="col-lg-4 col-md-4 col-sm-12">City</span>
                                <span class="col-lg-4 col-md-4 col-sm-12">State</span>
                                <span class="col-lg-4 col-md-4 col-sm-12">CreatedAt</span>
                            </div>
                        </div>

                        <!-- acts as the body -->
                        <div class="container-fluid flex-column col-12">

                            <div class="container-fluid col-12">
                                <span>Atlanta</span>
                                <span>GA</span>
                                <span>April 28, 2026</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <!-- Bootstrap Js -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
    <!-- Popper Js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.11.8/umd/popper.min.js" integrity="sha512-TPh2Oxlg1zp+kz3nFA0C5vVC6leG/6mm1z9+mA81MI5eaUVqasPLO8Cuk4gMF4gUfP5etR73rgU/8PNMsSesoQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- Chart Js-->
    <!-- JavaScript -->
    <script src="/public/js/Weather.js"></script>
    <script src="/public/js/RatePlan.js"></script>
</body>
</html>