header
{
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 225px;
}

main
{
    justify-content: start;
    min-height: 100vh;
}
