
/* Monserrat Font from fonts.google.com */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body
{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: "Montserrat", sans-serif;
}

main,
section,
div,
button,
ul
li,
a,
.material-symbols-outlined,
.material-icons,
.bi
{
    display: flex;
    align-items: center;
    justify-content: center;
}
.material-symbols-outlined,
.material-icons,
.bi
{
    padding: 4px;
}
main
{
    flex-direction: column;
}
ul
{
    margin: 0;
    padding: 4px;
}
li
{
    list-style: none;
}
a
{
    text-decoration: none;
    color: inherit;
}

.text-twitter 
{
    background: #1DA1F2;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #009ffc, #1DA1F2);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #009ffc, #1DA1F2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.text-knockout
{
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}